.contactUs {
    background-image: url('../Assets/connect.jpg');
}

.title {
    color: white;
    text-decoration: none;
    margin-left: 162px;
    padding-top: 20px;
}

.title .header {
    font-size: 26px;
    font-weight: 450;
    margin-bottom: 0px; 
}

.title p:not(.header) {
    margin-top: 0; /* Adjust this value to reduce the gap */
}

.cards{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
}

.card-item{
    width: 400px;
    height: 180px;
    background-color: aliceblue;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.card-item h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.getInTouch{
    color: white;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    /* margin: 20px; */
}

.getInTouch-left {
    width: 380px;
}
.getInTouch-left h3 {
    text-decoration: underline;
}


.getInTouch-right{
    width: 680px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-field {
    display: flex;
    gap: 10px;
}

.input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 5px;
    color: white;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.6);
}

.input::placeholder{
    color: white;
}

.message-field {
    width: 680px;
    height: 50px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: white;
    resize: none;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}

.message-field::placeholder{
    color: white;
}

.submit-button {
    justify-content: center;
    display: flex;
    padding-bottom: 40px;
}

.submit-button button {
    width: 400px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #0711a0 ;
    border: none;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}


.submit-button button:hover{
    transform: scale(1.1);
    background-color: green;
    border-color: #eee;
}