.footer {
    background: linear-gradient(to right, rgb(1, 1, 22), rgb(12, 32, 64));
    width: 100%;
    padding: 280px 20px;
    box-sizing: border-box;
    height: 100vh;

}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    gap: 50px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.item {
    width: 100%;
    max-width: 400px;
    padding-bottom: 20px;
}

.item h2 {
    font-weight: 500;
    text-decoration: underline;
    color: aliceblue;
    font-size: 24px;
    margin-bottom: 10px;
}

.item p {
    font-size: 16px;
    line-height: 1.5;
}

.item li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px; 
    padding: 10px 0;
}

.item li:hover {
    cursor: pointer;
    color: whitesmoke;
}

.copyright {
    text-align: center;
    color: aliceblue;
    padding-top: 20px;
}

hr {
    width: 60%;
    margin: 20px auto;
    border: 1px solid aliceblue;
}

/* Responsive Styles */
@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .item {
        padding-top: 40px;
    }
}

@media (max-width: 767px) {
    .item h2 {
        font-size: 20px;
    }

    .item p, .item li {
        font-size: 14px;
    }

    .item {
        text-align: center;
    }
}
