.relatedproducts {
    justify-content: center;
    align-items: center;
}
.relatedproducts h2 {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.related-items {
    display: flex;
    display: flex;
    height: 500px;
}

.related-items img {
    width: 320px;
    height: 350px;
}
