.relatedproducts {
    margin: 30px;
}


.relatedproducts h2 {
    text-align: center;
    color: #3d3d3d;
    font-weight: 600;
    font-size: 35px;
    text-decoration: underline;
}

.items-card {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.items-card img {
    width: 300px;
    height: 300px;
}

.product-card {
    cursor: pointer;
    padding: 20px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product-card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}


.product-card h4 {
    color: #3d3d3d;
}


